/* your code */
 body {
    font-family: Arial, sans-serif;

  }
  table {
    border-collapse: collapse;
    width: 70%;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden; 
  }
  th, td {
    padding: 12px 15px;
    text-align: center;
  }
  th {
    background-color: darkblue;
    color: #ffffff;
  }
  tr:nth-child(even) {
    background-color: lightgray;
  }
